<div class="answer">
<h1>The Coach:</h1>
<h4> - <%= @answer %> </h4>
</div>
<div class="question">
<h1>Your Question:</h1>
<h4> - <%= @question %> </h4>
</div>
<button class="button">
<%= link_to "Ask a new question!", ask_path %>
</button>
